.banner_wrapper {
    max-width: 100%;
    margin-top: 20px;
}
.banner_block > div {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
}
.banner_block > div::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}
.banner_block > div::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
.item_wrapper {
    margin: 0 5px;
    cursor: pointer;
}
.item_wrapper img {
    height: 300px;
}