.aside {
    width: inherit;
    background-color: #000000;
    border-right: 1px solid #cccccc;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
.icon_wrapper, .social_buttons_wrapper, .logo {
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 30px;
}
.logo>div {
    transform: rotate(-90deg);
}
.icon > div {
    margin: 30px 0;
    font-size: 26px;
    cursor: pointer;
}
.social_buttons {
    transform: rotate(-90deg)
}
.theme_bar_wrapper {
    position: fixed;
    left: 8%;
    bottom: 12%;
    background-color: red;
    z-index: 99;
    display: flex;
    border-radius: 20px;
    background-color: #cccccc;
    transform: rotate(-90deg);
    opacity: 0.5;
}
.theme_bar_wrapper:hover {
    opacity: 1;
}
.theme_bar_wrapper > div {
    padding: 5px 25px; 
    border-radius: 20px;
    cursor: pointer;
}
.active_theme {
    box-shadow: 1px 1px 20px #000000;
}
.theme_bar_wrapper span {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

