.button {
    width: 22%;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.button > * {
    margin: 0 3px;
    position: relative;
}
.button:hover .first_btn{
    background-color: #000000;
}
.button:hover .second_btn {
    left: -3px;
}
.first_btn {
    background-color: #C72538;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:-3px;
}
.second_btn {
    background-color: #555555;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:-102%;
    transition: 0.5s;
}