/* Styles for BannerMovies */
.banner_wrapper {
    max-width: 100%;
}
.banner_block > div {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_block > div:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
}
/* Styles for SearchBar*/
.movie_search_text, .movie_search_categories, .movie_search_coming_soon {
    font-size: 22px;
    border-bottom: 1px solid #555555;
    padding-bottom: 5px;
}
.movie_search_categories, .movie_search_coming_soon {
    margin-top: 25px;
}
.input_search_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #555555;
    margin-top: 25px;
}
.input_search_block input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #999999;
}
.input_search_block > div {
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.input_search_block > div * {
    color: #555555;
    transition: 0.5s;
}
.input_search_block > div:hover *{
    color: #C72538;
}
.categories > div {
    color: #999999;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.categories > div:hover {
    color: #C72538;
}
.poster_block {
    overflow: hidden;
}
.poster_block:hover img {
    transform: scale(1.1);
}
.coming_soon {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.coming_soon * {
    color: #cccccc;
}
.coming_soon > div {
    width: 45%;
}
.coming_soon img {
    width: 100%;
    transition: 0.5s;
}
.text_block > div:not(div:first-child){
    margin-top: 20px;
}
.coming_soon_rating > span:first-child * {
    color: yellow;
}
.coming_soon_rating > span:last-child {
    margin-left: 10px;
}

/* Styles for ListMovies */
.list_movies_wrapper {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.items_wrapper {
    width: 25%;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: #111111;
}
.add_watch_list {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;
}
.add_watch_list:hover {
    background-color: rgba(0,0,0,0.8);
}
.items_wrapper img {
    width: 100%;
}
.raiting_block {
    margin: 10px;
}
.raiting_block > span:first-child * {
    color: yellow;
}
.raiting_block > span:last-child {
    margin-left: 10px;
}
.title {
    font-size: 22px;
    margin: 10px;
}
.btn_trailer {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    cursor:pointer;
    transition: 0.3s;
}
.btn_trailer:hover {
    background-color: #333333;
}
.btn_trailer > span {
    margin: 0 5px;
}
.btn_trailer>span:first-child {
    font-size: 18px;
}