.list_movies_wrapper {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.items_wrapper {
    width: 25%;
    margin-left: 3%;
    margin-bottom: 50px;
    position: relative;
    background-color: #111111;
    overflow: hidden;
}
.img_wrapper {
    width: 100%;
    height: 400px;
}
.img_wrapper > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.items_wrapper:hover .img_wrapper>div{
    transform: scale(1.03);
}
.add_watch_list {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;
    z-index: 99;
    border: none;
}
.add_watch_list:hover {
    background-color: rgba(0,0,0,0.8);
}
.raiting_block {
    margin: 10px;
    display: flex;
}
.raiting_block > *:last-child {
margin-left: 10px;
}
.raiting_block > *:first-child * {
    color: yellow;
}
.raiting_block > span:last-child {
    margin-left: 10px;
}
.title {
    font-size: 22px;
    margin: 10px;
}
.btn_trailer_wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.btn_trailer {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    cursor:pointer;
    transition: 0.3s;
    width: 90%;
    border: none;
}
.btn_trailer:hover {
    background-color: #333333;
}
.btn_trailer > span {
    margin: 0 5px;
}
.btn_trailer>span:first-child {
    font-size: 18px;
}