.pagination_wrapper {
    display: flex;
    justify-content: center;
}
.pagination > span {
    padding: 3px 6px;
    margin: 0 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
    transition: 0.3s;
}
.pagination > span:hover {
    background-color: #ffffff;
    color: #000000;
}
.active {
    background-color: #ff0000;
}