* {
  color: #ffffff;
  box-sizing: border-box !important;
  font-family: Arial, sans-serif;
}
body {
  background-color: #222222 !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style-type: none !important;
}
.app_wrapper {
  max-width: 100% !important;
}
