
.popap_wrapper {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popap {
    width: 80%;
    height: 80%;
    background-color: #333333;
    text-align:  center;
    padding: 20px;
}
.description {
    margin-top: 20px;
}
.close_popap {
    position: absolute;
    top: 20px;
    right: 40px;
}
